<html>
    <body>
        <h1>Cropper reverso!</h1>
        <img src="<%= imagem %>" alt="imagem original" width="<%= image_width %>" height="<%= image_height %>">
        <canvas id="new_canvas" width="<%= canvas_width %>" height="<%= canvas_height %>">Não suportado!</canvas>
    </body>
</html>